@tailwind base;
@tailwind components;
@tailwind utilities;

.fresh-gradient {
    background-color: rgb(134, 239, 172);
    background-image: linear-gradient(
        to right bottom,
        rgb(219, 234, 254),
        rgb(187, 247, 208),
        rgb(254, 249, 195)
    );
}

@layer base {
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
    --light: #f8f9fa;
    --dark: #343a40;
    --background: #fff;
    --header-background: #f8f9fa;
    --footer-background: #f8f9fa;
    --border: #dee2e6;
}

@layer theme {
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-success: var(--success);
    --color-danger: var(--danger);
    --color-warning: var(--warning);
    --color-info: var(--info);
    --color-light: var(--light);
    --color-dark: var(--dark);
    --color-white: var(--white);
    --color-background: var(--background);
    --color-header-background: var(--header-background);
    --color-footer-background: var(--footer-background);
    --color-border: var(--border);
}

.content-grid {
    --padding-inline: min(2%, 1.5rem);

    display: grid;
    grid-template-columns:
        [full-width-start] var(--padding-inline)
        [breakout-start] var(--padding-inline)
        [content-start] 1fr
        [content-end]
        var(--padding-inline) [breakout-end]
        var(--padding-inline) [full-width-end];
    justify-content: start;
    align-content: start;
    row-gap: calc(var(--spacing) * 4);
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
    grid-column: content;
}

.content-grid > .breakout {
    grid-column: breakout;
}

.content-grid > .full-width {
    grid-column: full-width;
}
